/* input[type="file"]{
  display: none;
}  */
.submit {
  display: flex;
  position: relative;
  margin: 10px auto;
}

.product-anchor {
  width: 300px;
}

.credit-card-window {
  display: flex;
  position: relative;
}

.no-products-available {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  text-align: center;
  background-color: rgb(253, 253, 72);
  border-radius: 10px;
  padding: 0 8px;
  margin: 0 auto;
}

.logo-card {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: fit-content;
  position: relative;
  margin: 0 auto;
}

.card-image {
  margin-bottom: 10px;
  margin-top: 10px;
}

.credit-card-input {
  margin: 3px auto;
}

.custom-file-upload {
  border: 1px solid black;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.product-buttons {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 5px;
  margin-bottom: 15px;
}

.product-edit-button {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  padding: 7px;
}

.product-edit-button button {
  background-color: lightblue;
  border-radius: 5px;
  padding: 2px 5px;
}
.product-edit-button button:hover {
  background-color: rgb(66, 143, 169);
  cursor: pointer;
}

.product-delete-button {
  padding: 5px;
}

.product-delete-button button {
  background-color: lightblue;
  border-radius: 5px;
  padding: 2px 5px;
}

.product-delete-button button:hover {
  background-color: rgb(66, 143, 169);
  cursor: pointer;
}

.purchase-button {
  margin-right: 7px;
}



.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  max-width: 100%;
}
.product-image img {
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 200px;
  border-radius: 15px;
}

.product-container {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: fit-content;
  margin-top: -160px;
}

.items-for-sale-header {
  display: flex;
  position: relative;
  margin-top: 15px;
  font-size: 1.3rem;

}

.product-item {
  background-color: rgba(0, 0, 255, 0.171);
  display: flex;
  flex: 1 1 200px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: auto;
  padding: 5px;
  padding-bottom: 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
}
.no-picture {
  background-color: rgb(163, 161, 161);
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 200px;
  border-radius: 15px;
}

.product-item p {
  text-align: center;
}
.product-form {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-info-section {
  margin: 0 auto;
  width: auto;
}

.product-input-field {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  max-width: 250px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
}

.upload-product-picture-button {
  display: flex;
  position: relative;
  background-color: lightblue;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: -15px;
}

.inline-edit-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

.upload-product-picture-button:hover {
  background-color: rgb(66, 143, 169);
  cursor: pointer;
}
.product-grid-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill);
  gap: 80px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
