.checkout-form {
  display: flex;
  flex-direction: column;
  position: relative;
  color: black;
  z-index: 3000;
}

.payment-form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

}

.payment-form-input{
  margin-top: 10px;
}

/* the outer wrapper you gave via className */
.StripeElement {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  min-width: 250px;
  padding: 12px 0px;
  margin: 0 auto;
  border: 1px solid #ccd0d2;
  border-radius: 4px;
  transition: border-color 0.2s ease;

  /* match your form font */
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* when the CardElement is focused */
.StripeElement--focus {
  border-color: #80bfff;
  box-shadow: 0 0 0 1px #80bfff;
}

/* invalid state */
.StripeElement--invalid {
  border-color: red;
}

.inline-card-error {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 6px;
  color: red;
  font-size: 0.9rem;
  z-index: 10;
}

.inline-invalid-email {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 6px;
  color: red;
  font-size: 0.9rem;
  z-index: 10;
}
