/* input[type="file"]{
  display: none;
}  */
.submit{
  display: flex;
  position: relative;
  margin: 10px auto;
  
}

.cancel-button {
display: flex;
position: relative;
}

.credit-card-window{
  display: flex;
  position: relative;

}

.no-products-available{
  display: flex;
  position: relative;
  width: 180px;
  max-width: 180px;
  margin: 0 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(253, 253, 72);
  border-radius: 10px;
  padding: 0 5px;

}

.card-image{
  margin-bottom: 10px;
  margin-top: 10px;
}

.credit-card-input{
  margin: 3px auto;
}

.custom-file-upload{
  border: 1px solid black;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.product-buttons{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 5px;
  margin-bottom: 15px;
}

.product-edit-button{
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  padding: 5px;
  
 }

 .product-edit-button button {
   background-color: lightblue;
   border-radius: 5px;
 }
 .product-edit-button button:hover {
  background-color: rgb(66, 143, 169);
  cursor: pointer;
}

.product-delete-button {
  padding: 5px;
}

.product-delete-button button:hover{
  background-color: rgb(66, 143, 169);
  cursor: pointer;
}

.product-delete-button button {
  background-color: lightblue;
  border-radius: 5px;
}

.home-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 100vw;

}
.product-image img{ 
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 200px;
  border-radius: 15px;
}
.items-for-sale-header {
  display: flex;
  position: absolute;
  left: 25px;
  top: 385px;


  
}

.product-item {
  background-color: rgba(0, 0, 255, 0.171);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
}
.no-picture {
  background-color: rgb(163, 161, 161);
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 200px;
  border-radius: 15px;
}

.product-item p{
 text-align: center;
}
.product-form{
  width: 100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 35px auto;

}


.product-input-field {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  max-width: 250px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
}

.upload-product-picture-button {
  display: flex;
  position: relative;
  background-color: lightblue;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: -15px;
}

.inline-edit-form {
  display: flex;
  flex-direction: column;
}

.upload-product-picture-button:hover{
  background-color: rgb(66, 143, 169);
  cursor: pointer;
}
.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

