input[type="file"]{
  display: none;
} 
.submit{
  display: flex;
  position: relative;
  margin: 0 auto;
  
}

.custom-file-upload{
  border: 1px solid black;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-image img{ 
  display: flex;
  position: relative;
  margin: 0 auto;
  max-width: 150px;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.items-for-sale-header {
  display: flex;
  position: relative;
  margin: 35px auto;
  
}

.product-item {
  background-color: rgba(0, 0, 255, 0.171);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
}

.product-input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
}

.upload-product-picture-button {
  margin-left: 5px;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  padding: 25px;
  margin: 0 auto;
}

.update-pic-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.update-pic-button,
.upload-pic-button {
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #965afd;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.crop-button-container {
  width: 350px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.crop-button {
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #965afd;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.crop-button:hover {
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #5621b2;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.upload-button {
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #965afd;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.update-pic-button:hover,
.upload-button:hover {
  background-color: #5621b2;
}