.cart-logo-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 35px;
  height: 45px;
  align-items: flex-end;
}

.cart-image {
  position: relative;
  margin-right: 0;
  cursor: pointer;

}

.cart-item{
  display: flex;
  align-items: center;
  gap: 0.35rem;
  margin-bottom: 0.35rem;
  color: black;
  font-size: 1rem;
}

.cart-item-image{
  width: 40px;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.cart-item-details{
  display: flex;
  flex-direction: column;
}

.cart-item-name{
  font-size: 0.9rem;
}

.cart-item-price{
  font-size: 0.8rem;
  color: rgb(255, 0, 204);
}

